.about-header-section {
  background: rgb(134, 208, 255);
  background: linear-gradient(
    106deg,
    rgba(134, 208, 255, 1) 0%,
    rgba(250, 250, 250, 1) 69%
  );

  .about-info {
    h1 {
      color: var(--white);
      font-size: 33px;
    }

    .lead {
      color: var(--white);
    }
  }

  .company-btn {
    border-radius: 0px;
    cursor: pointer;
    overflow: hidden;
    padding: 6px 22px;
  }
}

.section-heading {
  h2 {
    font-size: 2rem;
  }
}

#our-team {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;

  &::before {
    content: "";
    position: absolute;
    // background: rgba(92, 201, 167, 0.9);
    background: rgba(21, 27, 34, 0.9);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.feature-section-two {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;

  &::before {
    content: "";
    position: absolute;
    // background: rgba(92, 201, 167, 0.9);
    background: rgb(224 243 255 / 70%);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.our-story-section {
  background-color: #edf8ff !important;
}

.about-info {
  .btn-primary {
    background-color: #1e2644;
    border-color: #1e2644;
    box-shadow: 0 11px 18px -8px rgb(23 31 52 / 60%);
  }
}

.team-info {
  h5 {
    color: #fff;
  }

  .text-muted {
    color: #c9c9c9 !important;
  }
}

@media (min-width: 320px) and (max-width: 991px) {
  .about-content-right img:last-of-type {
    width: 100%;
  }

  .story-grid {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .mob-pt-120 {
    padding-top: 120px;
  }
}

@media (min-width: 1200px) {
  /* line 460, src/assets/scss/vendors/bootstrap.min.css */
  .story-item {
    .display-5 {
      font-size: 2rem;
    }
  }
}

.feature-section {
  padding: 90px 0;
  position: relative;
  background: #fff7f3;

  .bg-shape {
    position: absolute;
    transform: translate(0%, -50%);
    height: 100%;
    top: 50%;
    position: absolute;
    content: "";
    left: calc(0% - 260px);

    img {
      width: 100%;
      height: 100%;
    }
  }

  .d-lg-block {
    display: block !important;

    @media (min-width: 320px) and (max-width: 991px) {
      display: none !important;
    }
  }
}

.section-header {
  margin-bottom: 50px;
  text-align: left;
}

.sh-top {
  max-width: 320px;
  padding-left: 25px;
  border-left: 2px solid white;
  margin-bottom: 20px;
  position: relative;

  @media (min-width: 320px) and (max-width: 991px) {
    border-color: black;
  }

  .cate {
    font-size: 17px;
    color: white;
    margin-bottom: 17px;
    font-weight: 500;
    text-transform: capitalize;

    @media (min-width: 320px) and (max-width: 991px) {
      color: black;
    }
  }

  .title {
    font-size: 21px;
    color: white;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-transform: capitalize !important;
    font-weight: 600;

    @media (min-width: 320px) and (max-width: 991px) {
      color: black;
    }
  }

  &:after {
    width: 20px;
    height: 6px;
    left: -4px;
    border-radius: 100%;
    bottom: 0;
    background: white;

    @media (min-width: 320px) and (max-width: 991px) {
      background: black;
    }
  }

  &:before {
    width: 20px;
    height: 6px;
    left: -4px;
    border-radius: 100%;
    top: 0;
    background: white;

    @media (min-width: 320px) and (max-width: 991px) {
      background: black;
    }
  }
}

.sh-bottom {
  p {
    margin-bottom: 20px;
    color: white;

    @media (min-width: 320px) and (max-width: 991px) {
      color: black;
    }
  }

  button {
    box-shadow: 0px 10px 10px 0px rgb(206 72 61 / 10%);
    outline: none;
    transition: all ease 0.3s;
    background: white;
    border-radius: 4px;
    border: none;
    padding: 5px 15px;
    font-weight: 700;
    color: #da4f44;
  }
}

.feature-item {
  margin-bottom: 30px;

  .feature-inner {
    flex-direction: row-reverse;

    .feature-content {
      padding: 10px 30px;
      width: 100%;
      background: transparent;

      p {
        line-height: 24px;
        font-size: 14px;
        color: black;
        font-weight: 400;
      }

      .title {
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 19px;
        color: #0e2c53;
      }

      .feture-icon {
        margin-bottom: 20px;

        span.cate {
          font-weight: 600;
        }
      }
    }
  }
}

img.icons {
  width: 70px;
}

.bgc-1 {
  background: linear-gradient(to top, #23cc88, #8ecf35);
}

.bgc-2 {
  background: linear-gradient(to top, #ff4f58, #ffb400);
}

.bgc-3 {
  background: linear-gradient(to top, #5f51b5, #ce62fd);
}

.bgc-4 {
  background: linear-gradient(to top, #01cbad, #47a1f2);
}

.offer-item {
  // margin-top: -40px;
  // margin-bottom: 63px;
  height: 100%;

  @media (min-width: 320px) and (max-width: 991px) {
    margin-top: 0;
  }

  .offer-inner {
    padding: 40px 20px;
    text-align: left;

    .offer-thumb {
      img {
        width: 200px;
      }
    }

    .offer-content {
      h3 {
        color: white;
        font-size: 20px;
        text-transform: capitalize;
        font-weight: 500 !important;
      }

      p {
        color: white;
        font-size: 15px;
        font-weight: 450 !important;
        line-height: 25px;
      }

      button {
        margin-top: 30px;
        background: white;
        border: none;
        padding: 10px 25px;
        border-radius: 4px;
        box-shadow: 0 3px 7px rgb(0 0 0 / 28%);
        font-weight: 600;
        font-size: 17px;
        color: #83ba43;
      }
    }
  }
}

.offer-section {
  padding-bottom: 46px;

  @media (min-width: 320px) and (max-width: 991px) {
    padding-top: 46px !important;
  }
}

.col-mr {
  margin-top: -40px;

  .col-md-6 {
    margin-bottom: 24px;
  }
}

.bg-red {
  background-color: var(--red);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-blue {
  background-color: var(--blue);
}

.h1,
.display-1,
.h2,
.display-2,
.h3,
.display-3,
.h4,
.display-4,
.h5,
.display-5,
.h6,
.display-6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #525252;
}

.min-h {
  min-height: 600px;
}

.service-icon {
  img {
    width: 100%;
  }
}

.single-service {
  background-color: #fff;
  margin: 5px;
  padding: 12px;
  box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 10%);
  min-height: 30em;
}

.single-service:hover {
  background-color: #ffffffb3;
}

// .whoweare{
//     h2{
//         color: var(--white);
//     }
//     h3{
//         color: var(--white);
//     }
//     p{
//         color: var(--white);
//     }
// }

.two-bg-dark-light-cl {
  background: #b1ebff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b1ebff,
    #defcff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b1ebff,
    #defcff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-blue {
  background-color: #307dcf !important;
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem !important;
  }
}
