<!--about header section start-->
<section class="about-header-section pt-120 mob-pt-120 position-relative overflow-hidden banner-height" style="background: url('assets/img/about-bg-who-be.WEBP')no-repeat center left; background-size: 100% 100%;">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-heading-wrap d-flex justify-content-between align-items-center z-5 position-relative">
            <div class="about-content-left" data-aos="fade-right" data-aos-duration="1000"
              data-aos-easing="ease-out-cubic" data-aos-delay="200">
              <div class="about-info">
                <h1 class="fw-bold display-5">
                  About Us
                </h1>
                <p class="lead">
                  We are a holistic material handling and software experts based in Asia with extensive experience of deployed projects.
                </p>
  
                <p class="lead">
                  Our goal is to help our clients focus on end to end project management and delivery of holistic warehouse management utilising advanced technologies.
                </p>
                <!-- <a routerLink="/career" class="btn btn-primary mt-4 me-3 company-btn">Open Positions</a> -->
                <!-- <a href="Javascript:void(0)" class="btn btn-soft-primary mt-4">Meet Our Team</a> -->
              </div>
             
            </div>
  
            <div class="about-content-right">
              <img src="assets/img/about-top.png" alt="about" class="img-fluid rounded-custom" data-aos="fade-left" data-aos-duration="800" data-aos-easing="ease-out-cubic">
              
          </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="bg-white position-absolute bottom-0 h-25 bottom-0 left-0 right-0 z-2 py-5">
      </div> -->
  </section>
  <!--about header section end-->
  
  
  <!--Who we are section start-->
  <section class="feature-section pt-60 pb-120">
      <div class="container">
          <div class="row align-items-lg-center justify-content-between">
              <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
                  <div class="mb-4 whoweare" data-aos="zoom-in-left" data-aos-duration="800" data-aos-easing="ease-out-cubic">
                      <h2 class="">Who we are</h2>
                      <p class="">Over the past 16 years that we have been serving our clients, we have to build a strong clientele across 5 countries and across 15 myriad industries verticals. We have been projecting stellar performance in delivering some of the par excellence and cutting edge digital solutions to our clients.</p>
                  </div>
                  <ul class="list-unstyled d-flex flex-wrap list-two-col mt-5 whoweare">
                      <li data-aos="fade-right" data-aos-duration="800" data-aos-easing="ease-out-cubic">
                          <h3 class="h5">Our Solutions in Asia</h3>
                          <p class="">Provide stock and material awareness within and across the warehouse(s)</p>
                      </li>
                      <li data-aos="fade-right" data-aos-duration="800" data-aos-easing="ease-out-cubic">
                          <h3 class="h5">Problems we Solve </h3>
                          <p class="">Transparency in your supply chain with tight integration to logistic partners.</p>
                      </li>
                  </ul>
              </div>
              <div class="col-lg-6 order-lg-1">
                  <div class="pr-lg-4 position-relative">
                      <div class="bg-blue text-center rounded-custom overflow-hidden p-4 mx-lg-auto" data-aos="fade-left" data-aos-duration="800" data-aos-easing="ease-out-cubic">
                          <img src="assets/img/about-who-be.PNG" alt="" class="img-fluid rounded-custom shadow-sm">
                          <div
                              class="position-absolute bg-secondary-dark z--1 dot-mask dm-size-16 dm-wh-350 bottom--40 right--40 bottom-right">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--Who we are section end-->
  
  
  
  
  
  <section class="image-feature pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-6 col-md-12">
            <div class="section-heading">
                <h2>Sales Network</h2>
                <ul class="list-unstyled mt-5">
                    <li class="d-flex align-items-start mb-4">
                        <div class="icon-box  bg-red rounded me-4">
                          &nbsp;
                        </div>
                        <div class="icon-content">
                            <h3 class="h5">Mushiny</h3>
                            <p>Our products and solutions make people's work easier and more convenient. Through the unique picking system to greatly improve the order picking efficiency</p>
                        </div>
                    </li>
                    <li class="d-flex align-items-start mb-4">
                      <div class="icon-box  bg-yellow rounded me-4">
                        &nbsp;
                      </div>
                      <div class="icon-content">
                          <h3 class="h5">Reinvent Asia</h3>
                          <p>Lorem Ipsum is simply dummy text of  Lorem Ipsum is simply dummy text of the printing and typesetting  the printing and typesetting industry
                          </p>
                      </div>
                  </li>
                  <li class="d-flex align-items-start mb-4">
                    <div class="icon-box  bg-blue rounded me-4">
                      &nbsp;
                    </div>
                    <div class="icon-content">
                        <h3 class="h5">Reinvent Asia Development Centre</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been printing.
                        </p>
                    </div>
                </li>
                </ul>
            </div>
        </div>
            <div class="col-lg-6 col-12">
                <div class="feature-img-holder pb-3">
                    <div class="rounded-custom position-relative d-block feature-img-wrap">
                        <div class="z-1 position-relative">
                            <img src="assets/img/about-map.jpg" class="img-fluid rounded-custom position-relative" alt="feature-image" data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  
  
  <section class="services-icon ptb-120" style="background: url('assets/img/section-bg20.webp')no-repeat; background-size: cover; background-position: center bottom; ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <div class="section-heading text-center" data-aos="fade-down" data-aos-duration="800" data-aos-easing="ease-out-cubic">
                    <h2>Industry we serve</h2>
                    <p>
                      We’re zealous in serving a multitude of industries. We’ve rendered our expertise to the industry verticals for over a decade and a half. 
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 p-0" data-aos="fade-down-right" data-aos-duration="800" data-aos-easing="ease-out-cubic">
                <div class="single-service text-center mt-3 border-bottom border-end">
                    <div class="service-icon icon-center">
                        <img src="assets/img/about-img-1.png" alt="service icon"/>
                    </div>
                    <div class="service-info-wrap">
                        <h3 class="h5">Industrial Manufacturing</h3>
                        <p>
                          Manufacturing is the creation or production of goods with the help of equipment, labor, machines, tools, and chemical or biological processing or formulation. It is the essence of secondary sector of the economy.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 p-0" data-aos="fade-down" data-aos-duration="800" data-aos-easing="ease-out-cubic">
                <div class="single-service text-center mt-3 border-bottom border-end">
                    <div class="service-icon icon-center">
                      <img src="assets/img/about-img-2.png" alt="service icon"/>
                    </div>
                    <div class="service-info-wrap">
                        <h3 class="h5">eCommerce</h3>
                        <p>
                          E-commerce (electronic commerce) is the buying and selling of goods and services, or the transmitting of funds or data, over an electronic network, primarily the internet.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 p-0" data-aos="fade-down-left" data-aos-duration="800" data-aos-easing="ease-out-cubic">
                <div class="single-service text-center mt-3 border-bottom">
                    <div class="service-icon icon-center">
                      <img src="assets/img/about-img-3.png" alt="service icon"/>
                    </div>
                    <div class="service-info-wrap">
                        <h3 class="h5">Pharmaceutical</h3>
                        <p>
                          pharmaceutical, substance used in the diagnosis, treatment, or prevention of disease and for restoring, correcting, or modifying organic functions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 p-0" data-aos="fade-up-right" data-aos-duration="800" data-aos-easing="ease-out-cubic">
                <div class="single-service text-center border-end">
                    <div class="service-icon icon-center">
                      <img src="assets/img/about-img-4.png" alt="service icon"/>
                    </div>
                    <div class="feature-info-wrap">
                        <h3 class="h5">Fashion</h3>
                        <p>
                          Fashion is a form of self-expression and autonomy at a particular period and place and in a specific context, of clothing, footwear, lifestyle, accessories, makeup, hairstyle, and body posture.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 p-0" data-aos="fade-up" data-aos-duration="800" data-aos-easing="ease-out-cubic">
                <div class="single-service  text-center border-end">
                    <div class="service-icon icon-center">
                      <img src="assets/img/about-img-5.png" alt="service icon"/>
                    </div>
                    <div class="feature-info-wrap">
                        <h3 class="h5">Retail</h3>
                        <p>
                          Retail is the sale of goods and services to consumers, in contrast to wholesaling, which is sale to business or institutional customers.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 p-0" data-aos="fade-up-left" data-aos-duration="800" data-aos-easing="ease-out-cubic">
                <div class="single-service  text-center">
                    <div class="service-icon icon-center">
                      <img src="assets/img/about-img-6.png" alt="service icon"/>
                    </div>
                    <div class="feature-info-wrap">
                        <h3 class="h5">Chilled & Cold Store</h3>
                        <p>
                          Storing products freezing, and offering many other solutions to meet their customers' needs right in the warehouse distribution center 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  
  
  
  
  <section class="career-promo ptb-80 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="section-heading text-center">
                    <h2>Cold chain</h2>
                    <p>We are cold chain experts who understand the importance of temperature control to ensure the safety, quality and efficacy of your valuable products.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6" data-aos="fade-right" data-aos-duration="800" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                <div class="single-feature d-flex mt-0 p-5 bg-white rounded-custom">                  
                    <div class="ms-4 mt-2">
                        <h5>Stock transfer add-on</h5>
                        <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry book. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6" data-aos="fade-right" data-aos-duration="800" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                <div class="single-feature d-flex mt-4 mt-xl-0 mt-lg-0 mt-md-0 p-5 bg-white rounded-custom">                 
                    <div class="ms-4 mt-2">
                        <h5>Data transfer processes</h5>
                        <p class="mb-0">A data transfer process (DTP) is an object that determines how data is transferred between two persistent objects (source and target) in SAP BW. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6" data-aos="fade-left" data-aos-duration="800" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                <div class="single-feature d-flex mt-4 p-5 bg-white rounded-custom">
                    <div class="ms-4 mt-2">
                        <h5>Storage System</h5>
                        <p class="mb-0">Our teams work to understand your requirements with full compliance to international standards, including tracking, corrective action, preventative action, temperature mapping and regular audits.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6" data-aos="fade-left" data-aos-duration="800" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                <div class="single-feature d-flex mt-4 p-5 bg-white rounded-custom">
                    <div class="ms-4 mt-2">
                        <h5>Over-lapping processes</h5>
                        <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry book. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6" data-aos="fade-right" data-aos-duration="800" data-aos-easing="ease-out-cubic" data-aos-delay="200">
              <div class="single-feature d-flex mt-4 p-5 bg-white rounded-custom">
                  <div class="ms-4 mt-2">
                      <h5>Outbound</h5>
                      <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry book. </p>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-6" data-aos="fade-right" data-aos-duration="800" data-aos-easing="ease-out-cubic" data-aos-delay="200">
            <div class="single-feature d-flex mt-4 p-5 bg-white rounded-custom">
                <div class="ms-4 mt-2">
                    <h5>Meta data</h5>
                    <p class="mb-0">Metadata is "data that provides information about other data", but not the content of the data, such as the text of a message or the image itself. There are many distinct types of metadata.</p>
                </div>
            </div>
        </div>
        </div>
    </div>
  </section>
  
  <section class="ptb-120 bg-light min-h" style="background: url('assets/img/about-b1.jpg')no-repeat; background-size: cover; background-position: left bottom; ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="text-center mb-5 mb-lg-0 d-none">
                    <img src="assets/img/resource-consulting3.png" alt="" class="img-fluid" data-aos="fade-right" data-aos-duration="800" data-aos-easing="ease-out-cubic"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="tab-right-content" data-aos="fade-left" data-aos-duration="800" data-aos-easing="ease-out-cubic">
                    <h2 class="text-white">
                      Car parts
                    </h2>
                    <p class="text-white">
                      From Consultancy to implementation of Material Handling Systems
                    </p>
                    <ul class="list-unstyled text-white">
                        <li>
                            <i class="fas fa-check text-warning"></i>
                            <span>Radiator Support</span>
                        </li>
                        <li>
                            <i class="fas fa-check text-warning"></i>
                            <span>Header and Nose Panel</span>
                        </li>
                        <li>
                            <i class="fas fa-check text-warning"></i>
                            <span>Grilles</span>
                        </li>
  
                        <li>
                          <i class="fas fa-check text-warning"></i>
                          <span>Bumpers</span>
                      </li>
  
                      <li>
                        <i class="fas fa-check text-warning"></i>
                        <span>Headlights</span>
                    </li>
  
                    <li>
                      <i class="fas fa-check text-warning"></i>
                      <span>A/C Condensers</span>
                  </li>
  
                  <li>
                    <i class="fas fa-check text-warning"></i>
                    <span>Tail Lights</span>
                </li>
                <li>
                  <i class="fas fa-check text-warning"></i>
                  <span>Tailgate Trunk</span>
              </li>
              <li>
                <i class="fas fa-check text-warning"></i>
                <span>Spare Tire</span>
            </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </section>
  
  
  
  
  <section class="feature-section two-bg-dark-light-cl ptb-120">
      <div class="container">
          <div class="row align-items-center justify-content-between">
              <div class="col-lg-6 col-md-6">
                  <div class="image-wrap mb-5 mb-md-0 mb-lg-0 mb-xl-0" data-aos="fade-right" data-aos-duration="800" data-aos-easing="ease-out-cubic" data-aos-delay="500">
                      <img src="assets/img/about-ecom.png" alt="feature img" class="img-fluid shadow rounded-custom">
                  </div>
              </div>
              <div class="col-lg-5 col-md-6">
                  <div class="feature-content-wrap" data-aos="fade-down" data-aos-duration="800" data-aos-easing="ease-out-cubic" data-aos-delay="500">
                      <h2 class="color-red">E-Commerce</h2>
                      <p>E-commerce (electronic commerce) is the buying and selling of goods and services, or the transmitting of funds or data, over an electronic network, primarily the internet.</p>
                      <ul class="list-unstyled mt-5">
                          <li class="d-flex align-items-start mb-4">
                              <!-- <div class="icon-box bg-primary rounded me-4">
                                  <img _ngcontent-cpe-c116="" src="assets/img/woo-1-3.jpg" class="img-fluid">
                              </div> -->
                              <div class="icon-content">
                                  <h3 class="h5 color-red">Shopping online platform</h3>
                                  <p>Online shopping is a form of electronic commerce which allows consumers to directly buy goods or services from a seller over the Internet using a web browser or a mobile app. 
                                  </p>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </section>