<!--hero section start-->

<section class="hero-reinvent">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="reinvent_banner_content">
          <h1>INTRALOGISTICS</h1>
          <p>
            Intelligent storage for retrieval. Efficient and accurate
            fulfillment of orders
          </p>
          <div class="lets_talk">
            <a routerLink="/contact-us">Let's Talk </a>
            <!-- &nbsp; <i class="fas fa-chevron-right fa-icon"></i> -->
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="reinvent_hero_img">
          <img src="../../../assets/img/reinvent/banner-mushiny.png" />
        </div>
      </div>
    </div>
  </div>
</section>

<!--Solution section start-->

<section class="provide_we">
  <div class="container">
    <div class="solution_headings">
      <h2 class="section-title">Solutions We Provide</h2>

      <p class="section-sub">
        Using Data Analytics, Warehouse Management Systems and Robotics Systems,
        we improve workflows, information dashboards and operational efficiency
        with solutions that are designed simply for all our clients.
      </p>
    </div>
  </div>
</section>

<section class="provide-card">
  <div class="container">
    <div class="row provide-row">
      <div class="col-md-3">
        <div class="lcard">
          <div class="lcard_icon">
            <!-- <img src="../../../assets/img/reinvent/Warehouse.svg" /> -->
            <i class="fa-solid fa-warehouse"></i>
          </div>

          <div class="icard-text-content">
            <h5>
              Intelligent Robot Execution System (iRES) for Modern Warehouse
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="lcard">
          <div class="lcard_icon">
            <img src="../../../assets/img/reinvent/Warehouse-1.svg" />
          </div>
          <div class="icard-text-content">
            <h5>Warehouse Management Systems (WMS)</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="lcard">
          <div class="lcard_icon">
            <img src="../../../assets/img/reinvent/micro-chip.png" />
          </div>
          <div class="icard-text-content">
            <h5>Manufacturing Transportation Systems</h5>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="lcard">
          <div class="lcard_icon">
            <img src="../../../assets/img/reinvent/consult-design.png" />
          </div>
          <div class="icard-text-content">
            <h5>Consultancy & Design</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="privide_button">
      <a class="learn_more btn-outline lnk" routerLink="/solutions"
        >Solutions</a
      >
    </div>
  </div>
</section>


<!--industries section start-->
<section class="services_section">
  <div class="container">
    <div class="solution_headings">
      <h2 class="section-title">Industries We Serve</h2>

      <p class="section-sub">
        We provide specialized solutions for various industries.
      </p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="industies_item">
          <img
            src="../../../assets/img/reinvent/wherehuse.jpg"
            alt="wherehouse-content"
          />
          <div class="industries_contant">
            <h5>Warehousing</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="industies_item">
          <img
            src="../../../assets/img/reinvent/cosmetics.jpg"
            alt="wherehouse-content"
          />
          <div class="industries_contant">
            <h5>Automotive</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="industies_item">
          <img
            src="../../../assets/img/reinvent/distibutor.jpg"
            alt="wherehouse-content"
          />
          <div class="industries_contant">
            <h5>Distribution Centres</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="industies_item">
          <img
            src="../../../assets/img/reinvent/ecommerce.jpg"
            alt="wherehouse-content"
          />
          <div class="industries_contant">
            <h5>E-Commerce</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="industies_item">
          <img
            src="../../../assets/img/reinvent/retail.jpg"
            alt="wherehouse-content"
          />
          <div class="industries_contant">
            <h5>Retail</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="industies_item">
          <img
            src="../../../assets/img/reinvent/cold-chain.jpg"
            alt="wherehouse-content"
          />
          <div class="industries_contant">
            <h5>Cold Chain</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Client section start-->
<section class="clients_sec">
  <div class="container">
    <div class="solution_headings">
      <h2 class="section-title">Clients We Serve</h2>

      <!-- <p class="section-sub">
        Our customers decide to work with us for a variety of reasons, but the common one is that they simply want a dependable team that communicates well and delivers.
      </p> -->
    </div>
    <div class="row client-row">
      <div class="col-md-12">
        <div class="client_list for_web">
          <carousel [cellsToShow]="5" [cellsToScroll]="1" [arrows]="true">
            <div class="carousel-cell">
              <img src="assets/img/reinvent/client2.png" class="img-fluid" />
            </div>
            <div class="carousel-cell">
              <img src="assets/img/reinvent/client3.png" class="img-fluid" />
            </div>
            <div class="carousel-cell">
              <img src="assets/img/reinvent/client4.png" class="img-fluid" />
            </div>
            <div class="carousel-cell">
              <img src="assets/img/reinvent/client5.png" class="img-fluid" />
            </div>
            <div class="carousel-cell">
              <img src="assets/img/reinvent/client6.png" class="img-fluid" />
            </div>
          </carousel>
        </div>
        <div class="client_list for_mob">
          <carousel [cellsToShow]="2" [cellsToScroll]="1" [arrows]="false">
            <div class="carousel-cell">
              <img src="assets/img/reinvent/client2.png" class="img-fluid" />
            </div>
            <div class="carousel-cell">
              <img src="assets/img/reinvent/client3.png" class="img-fluid" />
            </div>

            <div class="carousel-cell">
              <img src="assets/img/reinvent/client4.png" class="img-fluid" />
            </div>
            <div class="carousel-cell">
              <img src="assets/img/reinvent/client5.png" class="img-fluid" />
            </div>
            <div class="carousel-cell">
              <img src="assets/img/reinvent/client6.png" class="img-fluid" />
            </div>
          </carousel>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Solution section start-->
<section class="solution_business">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <img
          src="../../../assets/img/reinvent/solution-werehouse.png"
          alt="solution-werehouse"
        />
      </div>
      <div class="col-md-7">
        <div class="business_card">
          <h5>Solutions For Your Business</h5>
          <a class="btn-outline learn_more lnk mt30" routerLink="/contact-us"
            >Let's Talk
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
