
  <section class="wms">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="wmc_bnc">
            <div class="text_left">
              <h3>WAREHOUSE</h3>
              <h1>MANAGEMENT</h1>
              <h2>SOLUTION</h2>
              <P>Optimize time and space in your warehouse with
                adaptable, directed warehouse software  </P>
           <div class="img_arrow">
            <img src="assets/img/asz/arrow.png">
           </div>
           <a href="#" class="btn-outline lnk mt30"
              >GET IN TOUCH &nbsp; &nbsp; <i class="fas fa-chevron-right fa-icon"></i>
              <span class="button_circle"></span
            ></a>
  
            <div class="wise_pera">
              <p>Industry leading <span>WISE WMS “</span></p>
            </div>
  
            </div>
            <img src="assets/img/wise_bn_img.png" class="wmsimg_1" alt="wmsimg1">
            <img src="assets/img/wise_bn_img2.png" class="wmsimg_2" alt="wmsimg2">
            <img src="assets/img/wise_bn_img3.png" class="wmsimg_3" alt="wmsimg3">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="fied field_banner">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="simply">
            <h2>Simplified, optimised and Integrated</h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="simply left_simplyImag">
            <img src="../../../assets/img/reinvent/digital-sol1.jpg" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="solution_bg">
            <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one">
              <ngb-panel
                title="Temperature-Controlled Warehousing"
                id="config-panel-one"
              >
                <ng-template ngbPanelContent>
                  Precise temperature-controlled warehousing is vital to our
                  variety of partners. We know different products require
                  different environments, which is why our facilities are designed
                  to provide custom temperatures and humidities, depending on your
                  unique need. The flexibility to support our partners across all
                  temperature ranges is crucial when there are specific handling
                  and storage needs.
                </ng-template>
              </ngb-panel>
              <ngb-panel title="Dry / Ambient Storage">
                <ng-template ngbPanelContent>
                  Dry and Ambient Storage still relies on expert handling by a
                  company with over 96-years of experience. The flexibility to
                  support our partners across all temperature ranges is crucial
                  when there are specific handling and storage needs. Precise
                  temperature-controlled warehousing is vital to our variety of
                  partners. We know different products require different
                  environments, which is why our facilities are designed to
                  provide custom temperatures and humidities, depending on your
                  unique need.
                </ng-template>
              </ngb-panel>
              <ngb-panel title="Distribution">
                <ng-template ngbPanelContent>
                  Custom distribution starts with you, your customers, and the
                  unique needs, challenges, and opportunities you face. We
                  collaborate with you and focus on creating the best possible
                  warehousing and distribution solutions, providing all the
                  benefits of self-distribution — with none of the headaches.
                  Precise temperature-controlled warehousing is vital to our
                  variety of partners. We know different products require
                  different environments, which is why our facilities are designed
                  to provide custom temperatures and humidities, depending on your
                  unique need.
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="features_solution">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="dreamit-section-title">
            <div class="dreamit-section-sub-title">
              <h5>Featured Solutions</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-card-app hoshd">
            <div class="productivity_img">
              <img src="assets/img/clear.jpg" />
            </div>
            <h4>Visibility Systems</h4>
  
            <p>
              Nullam tincidunt augue eget densis volu tpat, vitae ultri ces lectus
              and posuere. Duis urna lacus. vitae ultri ces lectus and posuere.
              Duis urna lacus.
            </p>
            <a href="#" class="btn-outline lnk mt30"
              >Read More <i class="fas fa-chevron-right fa-icon"></i>
              <span class="button_circle"></span
            ></a>
            <div class="features_solution_icon">
              <img src="assets/img/difine-icon-3.png" />
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-card-app hoshd">
            <div class="productivity_img">
              <img src="assets/img/intelli.png" />
            </div>
            <h4>Intelligent Warehouse</h4>
  
            <p>
              Nullam tincidunt augue eget densis volu tpat, vitae ultri ces lectus
              and posuere. Duis urna lacus. vitae ultri ces lectus and posuere.
              Duis urna lacus.
            </p>
            <a href="#" class="btn-outline lnk mt30"
              >Read More <i class="fas fa-chevron-right fa-icon"></i>
              <span class="button_circle"></span
            ></a>
            <div class="features_solution_icon">
              <img src="assets/img/difine-icon-2.png" />
            </div>
          </div>
        </div>
  
        <div class="col-md-4">
          <div class="service-card-app hoshd">
            <div class="productivity_img">
              <img src="assets/img/cols.jpg" />
            </div>
            <h4>Cold Chain</h4>
  
            <p>
              Nullam tincidunt augue eget densis volu tpat, vitae ultri ces lectus
              and posuere. Duis urna lacus. vitae ultri ces lectus and posuere.
              Duis urna lacus.
            </p>
            <a href="#" class="btn-outline lnk mt30"
              >Read More <i class="fas fa-chevron-right fa-icon"></i>
              <span class="button_circle"></span
            ></a>
            <div class="features_solution_icon">
              <img src="assets/img/difine-icon-4.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="clients_sec">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="dreamit-section-sub-title">
            <h5>Clients</h5>
          </div>
          <div class="client_list for_web">
            <carousel [cellsToShow]="5" [cellsToScroll]="1" [arrows]="false">
              <div class="carousel-cell">
                <img src="assets/img/reinvent/client1.png" class="img-fluid" />
              </div>
              <div class="carousel-cell">
                <img src="assets/img/reinvent/client2.png" class="img-fluid" />
              </div>
              <div class="carousel-cell">
                <img src="assets/img/reinvent/client3.png" class="img-fluid" />
              </div>
              <div class="carousel-cell">
                <img src="assets/img/reinvent/client4.png" class="img-fluid" />
              </div>
              <div class="carousel-cell">
                <img src="assets/img/reinvent/client5.png" class="img-fluid" />
              </div>
              <div class="carousel-cell">
                <img src="assets/img/reinvent/client6.png" class="img-fluid" />
              </div>
              <div class="carousel-cell">
                <img src="assets/img/reinvent/client7.png" class="img-fluid" />
              </div>
              <div class="carousel-cell">
                <img src="assets/img/reinvent/client8.png" class="img-fluid" />
              </div>
            </carousel>
          </div>
          <div class="client_list for_mob">
            <carousel [cellsToShow]="2" [cellsToScroll]="1" [arrows]="false">
              <div class="carousel-cell">
                <img src="assets/img/client-1.png" class="img-fluid" />
              </div>
              <div class="carousel-cell">
                <img src="assets/img/client-2.png" class="img-fluid" />
              </div>
              <div class="carousel-cell">
                <img src="assets/img/client-3.png" class="img-fluid" />
              </div>
              <div class="carousel-cell">
                <img src="assets/img/client-4.png" class="img-fluid" />
              </div>
              <div class="carousel-cell">
                <img src="assets/img/client-5.png" class="img-fluid" />
              </div>
              <div class="carousel-cell">
                <img src="assets/img/client-6.png" class="img-fluid" />
              </div>
              <div class="carousel-cell">
                <img src="assets/img/client-7.png" class="img-fluid" />
              </div>
              <div class="carousel-cell">
                <img src="assets/img/client-1.png" class="img-fluid" />
              </div>
            </carousel>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="focus">
    <div class="container">
      <div class="focus_business">
        <p>We Offer Solutions for All Companies</p>
        <h5>Focus on Your Business</h5>
        <div class="touch_get">
          <a routerLink="/contact-us"
            >Get in Touch &nbsp; &nbsp; <i class="fas fa-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
  </section>