<!--page header section start-->
<section class="about-header-section position-relative overflow-hidden leadership">
       
    <div class="row border-btm">
        <div class="col-md-6">
            <div class="elementor-column-wrap">
                <div class="leadership-main">
                    <div class="elementor-container">
                        <h1 class="fw-bold display-5">Thought leadership</h1>
                        <p class="lead">the unique perspectives, experiences, and resources you have that inform your product and the philosophy of your brand</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row">
            <div class="col-12">
                <h1>Thought Leadership</h1>
                <div
                    class="section-heading-wrap d-flex justify-content-between align-items-center z-5 position-relative">
                    <div class="about-content-left">
                        <div class="about-info" data-aos="fade-right" data-aos-duration="800"
                            data-aos-easing="ease-out-cubic">
                            <h1 class="fw-bold display-5 text-white text-shadow">Thought leadership</h1>
                            <p class="lead text-light text-shadow">the unique perspectives, experiences, and resources you have that inform your product and the philosophy of your brand</p>
                        </div>                       
                    </div>
                </div>
            </div>
        </div> -->
</section>
<!--page header section end-->

<section class="thoughtcatlog-sec pt-120 pb-120 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="section-heading text-center">
                    <h2 class="main-heading">Thought Catalog</h2>
                    <p>
                        It is important that warehouses employ strategy to ensure an efficient operation and ultimately business success.
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 col-md-12">
                <div>                    
                    <img src="assets/img/reinvent/traning-img1.jpg" class="img-fluid">
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="text-section">
                    <p class="text-border">They include variable manpower from sick leave, unskilled labour, order accuracy, lack of visibility from sortation systems or warehouses. 
                        Here are some of our thoughts</p>
                        <p>We share our thoughts and views of how we can improve factory automation, order fulfilment etc in the face of many challenges and changes. 
                        </p>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="image-feature pt-120 pb-120 food-security-sec">
    <div class="container">
        <!-- <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="section-heading text-center" data-aos="fade-down" data-aos-duration="800"
                    data-aos-easing="ease-out-cubic">
                    <h2>Strategic warehouse movement</h2>
                    <p>
                        It is important that warehouses employ strategy to ensure an efficient operation and ultimately business success.
                    </p>
                </div>
            </div>
        </div> -->
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="section-heading">                    
                    <h3 class="main-heading2"> <span> Food Security </span> Centralised cold storage operations for many food suppliers</h3>
                      <div class="section-heading">
                    <p>The demand for chilled and frozen products is set to grow as most population continue to stay home as we everienced during the pandemic.it is important to have a coldhat could supply the population with constant food, their efforts tetrengthen the population's cold chain ecosystem.</p>
                    <p>We would support the build up of the build up the cold chain capabilities for the ecosystem to ensure the safety, freshness and quality of the products delivered to their customers.</p>
                    <p>The planned warehouse should be an efficient management solution to manage and support many business players of cold chain operators, of chilled and frozen food including pre-packaged food, meat, vegetables and fruits, fish, as well as chilled table eggs </p>
                </div>
                </div>
            </div>
            <div class="col-lg-6 col-12 d-flex justify-content-center">
             

                <div class="circle-outer">
                    <div class="circle-div">
                        <div class="part1 circle-inner bdr-btm bdr-right">
                            <div class="circle-text">
                            <img src="assets/img/reinvent/icon5-1.png" class="icon-img">
                            <h5>Managing everything from source to destination is Logistics…</h5>
                        </div>
                        </div>
                        <div class="part2 circle-inner bdr-btm"> <img src="assets/img/cold-room-ops.JPG"></div>
                      </div>
                    <div  class="circle-div">
                        <div class="part3 circle-inner bdr-right"><img src="assets/img/cold-room-ops2.JPG"></div>
                        <div class="part4 circle-inner justify-content-start">
                            <div class="circle-text mt-0 t">
                                <img src="assets/img/reinvent/icon6-1.png" class="icon-img">
                                <h5>Safety & Security of lives – Our guiding force</h5>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>







<section class="process-section bg-light ptb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="section-heading text-center" data-aos="fade-up">
                    <h4 class="food-heading">Food Security</h4>
                    <h2 class="main-heading"> <span> Centralised cold </span> storeage operations for many food suppliers</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-12">                
                <img src="assets/img/cold-room-ops3.JPG" class="img-fluid">
            </div>

            <div class="col-lg-8 col-md-12">
                <div class="setup-process-wrap">
                    <ul class="setup-process-list list-unstyled text-center mb-0">
                        
                        <li class="setup-process-item py-4 px-2" data-aos="fade-up" data-aos-delay="50">
                          
                            <span class="process-tag badge bg-primary-soft py-1 px-3 small fw-bold text-color rounded-custom mb-4">Step 1</span>
                            <h6 class="mt-3 mb-0 food-step">Incoming frozen food staging area</h6>
                        </li>
                        <li class="setup-process-item py-4 px-2" data-aos="fade-up" data-aos-delay="100">
                          
                            <span class="process-tag badge bg-primary-soft py-1 px-3 small fw-bold text-color rounded-custom mb-4">Step 2</span>
                            <h6 class="mt-3 mb-0 food-step">Outgoing frozen food</h6>
                        </li>
                        <li class="setup-process-item py-4 px-2" data-aos="fade-up" data-aos-delay="150">
                           
                            <span class="process-tag badge bg-primary-soft py-1 px-3 small fw-bold text-color rounded-custom mb-4">Step 3</span>
                            <h6 class="mt-3 mb-0 food-step">Outgoing packing area</h6>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="feature-section pt-60 pb-120">
    <div class="container">
        <div class="row align-items-lg-center justify-content-between">
            <div class="col-lg-5 mb-7 mb-lg-0">
                <div class="mb-4" data-aos="fade-up">
                    <h2 class="main-heading2">Changing face of a Traditional Warehouse</h2>
                    <p class="text-style">Have you considered moving into warehouse with minimum racks & shelves?

                        And fulfill your orders of just in time production with lowered reliance on</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="pr-lg-4 position-relative" data-aos="fade-up">
                   
                    <div class="bg-warehouse position-relative text-center shadow-sm rounded-custom">
                        
                        <div class="w-100 mx-auto screen-img">                            
                            <img class="half-screen" src="assets/img/case-studies-Mushiny.png" alt="Image Description">
                        </div>

                        <div>
                            <h3 class="fw-medium h4">Engineered systems of Hardware and Softwareas Brains for Robot Order Fulfilment System (ROFS)</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="cta-subscribe bg-light">
        <div class="row">
            <div class="col-md-7">
                <div class="traditional-main">
                    <div class="section-heading mb-1">
                        <h2 class="main-heading2"> <span> Changing face </span> of a Traditional Warehouse</h2>
                    </div>
                    <ul class="item-list">
                        <li class="nav-item">
                            <span><i class="fa fa-dot-circle  me-2"></i>What is the purpose of a Warehouse?</span>
                        </li>
                        <li class="nav-item">
                            <span><i class="fa fa-dot-circle me-2"></i>Proper storage and fulfilment of orders with high accuracy, with reduced product loss.</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>        
</section>




<!-- <section class="image-feature pt-120 pb-120 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="section-heading text-center" data-aos="fade-down" data-aos-duration="800"
                    data-aos-easing="ease-out-cubic">
                    <h2>Strategic warehouse movement</h2>
                    <p>
                        It is important that warehouses employ strategy to ensure an efficient operation and ultimately business success.
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="section-heading">
                    <ul class="list-unstyled mt-5">
                        <li class="d-flex align-items-start mb-4">
                            <div class="icon-content">
                                <p>The aim of utilising movement strategies is to adhere to specified guidelines in warehouse operations and, at the same time, achieve the best possible throughput performance. The respective movement strategy determines in which arrangement stacker cranes are used for storage, transfer or retrieval of material.</p>
                                <p>
                                    <strong>Important:</strong> Movement strategies are not always compatible with possible allocation strategies.
                                </p>


                                <div class="app-two-feature-two-content">
                                    <h4>Movement strategies are</h4>
                                    <ul class="list-unstyled d-flex flex-wrap list-two-col mt-2">
                                        <li class="py-1"><i class="fa fa-check-circle me-2" aria-hidden="true"></i>Double-cycle strategy</li>
                                        <li class="py-1"><i class="fa fa-check-circle me-2" aria-hidden="true"></i>Single-cycle strategy</li>
                                        <li class="py-1"><i class="fa fa-check-circle me-2" aria-hidden="true"></i>Transfer Strategy</li>
                                        <li class="py-1"><i class="fa fa-check-circle me-2" aria-hidden="true"></i>Aisle change strategy</li>
                                        <li class="py-1"><i class="fa fa-check-circle me-2" aria-hidden="true"></i>Feed strategy</li>
                                        <li class="py-1"><i class="fa fa-check-circle me-2" aria-hidden="true"></i>Discharge strategy</li>
                                    </ul>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-12">
                <div class="feature-img-holder pb-3">
                    <div class="rounded-custom position-relative d-block feature-img-wrap">
                        <div class="z-1 position-relative">
                            <img src="assets/img/strategic-warehouse-movement.jpg" class="img-fluid rounded-custom position-relative"
                                alt="feature-image" data-aos="fade-left" data-aos-duration="800"
                                data-aos-easing="ease-out-cubic" data-aos-delay="200">

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->








<!-- <section class="feature-section pt-120 pb-120">
    <div class="container">
        <div class="row align-items-lg-center justify-content-between">

            <div class="col-lg-6 order-lg-1 ">
                <div class="pr-lg-4 mt-md-4 position-relative">
                    <div class="bg-light text-center rounded-custom overflow-hidden p-4 mx-lg-auto bg-light

                    ">
                        <img src="assets/img/cold-chain.jpg" alt="" class="img-fluid shadow-sm rounded-custom"
                            data-aos="fade-left" data-aos-duration="800" data-aos-easing="ease-out-cubic">
                        <div class="position-absolute bg-secondary-dark z--1 dot-mask dm-size-16 dm-wh-350 top--40 left--40 top-left"
                            data-aos="fade-down" data-aos-duration="800" data-aos-easing="ease-out-cubic">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-lg-2 mb-7 mb-lg-0">
                <div class="mb-4" data-aos="zoom-in-left" data-aos-duration="800" data-aos-easing="ease-out-cubic">
                    <h2>Cold Chain - Food Security</h2>
                    <p>Promoting Food Security and Safety via Cold Chains - Technology options, cooling needs and energy requirements.</p>
                   <p>The purpose of this concept paper is to present different existing and potential cold chains for food products and to give an overview of existing challenges and possible solutions towards better cold chain coverage, improved cold chain management and reduced food losses in developing countries. The paper aims to serve as abasis for thematic discussion on one field of action to improve food security using climate friendly technologies. Lessons learnt can provide an input for ongoing projects and the development of new projects in the field.</p>
                </div>
            </div>

            <div class="col-lg-12 order-lg-3 mb-7 mb-lg-0">
                <div class="mt-4">
                <p>The purpose of this concept paper is to present different
                    existing and potential cold chains for food products and
                    to give an overview of existing challenges and possible
                    solutions towards better cold chain coverage, improved
                    cold chain management and reduced food losses in
                    developing countries. The paper aims to serve as a
                    basis for thematic discussion on one field of action to
                    improve food security using climate friendly technologies.
                    Lessons learnt can provide an input for ongoing projects
                    and the development of new projects in the field.</p>
                    <p>
                        As food cold chains are not at all or not fully developed
                        in many countries, the primary objective of this paper is
                        to gain an increased understanding of well-functioning
                        cold chains, drivers that have helped the development
                        of functioning cold chains as well as barriers that need
                        to be addressed. Energy supply, which is not currently
                        available at a sufficiently high and consistent quality,
                        poses a barrier in rural areas where cold chain elements
                        are lacking. Consequently, the paper takes a look into
                        ways of supplying the energy required for cooling in a
                        climate-friendly manner. 
                    </p>
                </div>
            </div>
            
        </div>
    </div>
</section> -->















