<section class="solution">
  <div class="container">
    <h1 class="entry-title">Solutions</h1>
    
  </div>
</section>

<section class="our_solution">
  <div class="container">
    <div class="solution_headings">
      <h2 class="section-title">Solutions We Provide</h2>

      <p class="section-sub">
        Using Data Analytics, Warehouse Management Systems and Robotics Systems,
        we improve workflows, information dashboards and operational efficiency
        with solutions that are designed simply for all our clients.
      </p>
    </div>

    <!-- Tabs nav -->
    <div
      class="nav nav-pills nav-pills-custom"
      id="v-pills-tab"
      role="tablist"
      aria-orientation="vertical"
    >
      <a
        class="nav-link active"
        id="v-pills-home-tab"
        data-toggle="pill"
        href="#v-pills-home"
        role="tab"
        aria-controls="v-pills-home"
        aria-selected="true"
      >
        <i class="fa-solid fa-warehouse"></i>

        Intelligent Robot Execution System (iRES) for Modern Warehouse</a
      >

      <a
        class="nav-link"
        id="v-pills-profile-tab"
        data-toggle="pill"
        href="#v-pills-profile"
        role="tab"
        aria-controls="v-pills-profile"
        aria-selected="false"
      >
        <!-- <i class="fa-solid fa-industry"></i> -->
        <img
          src="../../../../assets/img/reinvent/Warehouse-1.svg"
          class="wherehoue"
        />

        Warehouse Management Systems (WMS)</a
      >

      <a
        class="nav-link"
        id="v-pills-messages-tab"
        data-toggle="pill"
        href="#v-pills-messages"
        role="tab"
        aria-controls="v-pills-messages"
        aria-selected="false"
      >
        <!-- <i class="fa-solid fa-truck-arrow-right"></i> -->
        <img
          src="../../../../assets/img/reinvent/micro-chip.png"
          class="mirco-chip"
        />

        Manufacturing Transportation Systems</a
      >

      <a
        class="nav-link"
        id="v-pills-settings-tab"
        data-toggle="pill"
        href="#v-pills-settings"
        role="tab"
        aria-controls="v-pills-settings"
        aria-selected="false"
      >
        <!-- <i class="fa-solid fa-building"></i> -->
        <img
          src="../../../../assets/img/reinvent/consult-design.png"
          class="consult-design"
        />
        Consultancy & Design</a
      >
    </div>

    <!-- Tabs content -->
    <div class="tab-content" id="v-pills-tabContent">
      <div
        class="tab-pane fade shadow rounded bg-white show active"
        id="v-pills-home"
        role="tabpanel"
        aria-labelledby="v-pills-home-tab"
      >
        <h4 class="mb-4">
          Intelligent Robot Execution System (iRES) for Modern Warehouse
        </h4>
        <p class="text-muted mb-2">
          Mushiny’s Intelligent Warehousing Solution utilises modular and
          configurable Intelligent Robot Execution System (iRES) paired with the
          Warehouse Management System (WMS) to ensure rapid delivery and
          optimisation solution for end users and logistics integrators
        </p>
        <p class="text-muted mb-2">
          Serving as a central hub for overseeing and controlling real-time
          visibility into inventory levels, locations, and movements to optimise
          efficiency of your warehouse operations
        </p>
        <ul class="intelligent-list">
          <li>
            <img
              src="../../../../assets/img/reinvent/inventory-management2.png"
              alt="1"
            />
            Inventory Management
          </li>
          <li>
            <img
              src="../../../../assets/img/reinvent/sorting-retrival2.png"
              alt="2"
            />
            Automated Intelligent Sorting & Retrieval
          </li>
          <li>
            <img
              src="../../../../assets/img/reinvent/picking-packing2.png"
              alt="3"
            />
            Scan Picking and Packing
          </li>
          <li>
            <img src="../../../../assets/img/reinvent/transport2.png" alt="4" />
            Packed and Dispatched
          </li>
        </ul>
      </div>

      <div
        class="tab-pane fade shadow rounded bg-white wharehouse-tab"
        id="v-pills-profile"
        role="tabpanel"
        aria-labelledby="v-pills-profile-tab"
      >
        <h4 class="mb-4">Warehouse Management Systems (WMS)</h4>

        <div class="row">
          <div class="col-md-7">
            <p class="text-muted mb-2">
              Solution for industrial warehouses from spare parts to
              manufacturing operations Warehouse Management Software (WMS) keep
              track that streamlines the receiving, storage, material handling,
              inventory tracking, picking accurately, packing, shipping, stock
              taking and the necessary reporting for stakeholders.
            </p>
            <p class="text-muted mb-2">
              In addition, the use of Infocom Technologies (IT) such as
              barcoding in selective racks, for different product SKUs, for
              picking and the complex integration to PLC for conveyor systems,
              use of CCTV with video analytics or intelligent LED lighting that
              reinforces the six (6) basic tenets of accuracy, cost control,
              efficiency, cleanliness, safety and security in a modern
              warehouse.
            </p>
            <p class="text-muted mb-2">
              Furthermore, not all warehouses are the same across industries, as
              there are domain specific operational issues that will change some
              functionalities and customisations that includes cloud-based
              deployment, integration with an ERP module and supply chain (3PL)
              module.
            </p>
            <p class="text-muted mb-2">
              We are here to help from design to the implementation of these
              systems and the subsequent maintenance to ensure smooth
              operations.
            </p>
          </div>

          <div class="col-md-5">
            <img
              src="../../../../assets/img/reinvent/weherhousetabimg.jpg"
              class="wherehouse-tab-img"
            />
          </div>
        </div>
      </div>

      <div
        class="tab-pane fade shadow rounded bg-white wharehouse-tab"
        id="v-pills-messages"
        role="tabpanel"
        aria-labelledby="v-pills-messages-tab"
      >
        <h4 class="mb-4">Manufacturing Transportation Systems</h4>

        <div class="row">
          <div class="col-md-7">
            <p class="text-muted mb-2">
              Intelligent Robotic Management System (iRMS) is an easy-to-use,
              open protocol robot management system. It can integrate different
              vehicles and can make them run collaboratively in the same field
            </p>
            <p class="text-muted mb-2">
              Autonomous mobile robot (AMR) is a material handling systems robot
              that can understand the layout of your factory and move through
              its environment independently without a physical guide which is
              similar to rail-guided navigation.
            </p>
            <p class="text-muted mb-2">
              AMR transport stock and materials on fixed route, interface with
              conveyors, enter goods lifts etc and work alongside the human
              operators to increased productivity with consistency and
              efficiency.
            </p>
            <p class="text-muted mb-2">
              With layout changes in agile factories today, adapting to high
              mix, high volume manufacturing environments, the lack of a
              physical guide of rail-based navigation, means flexibility in
              layouts and lesser constraints.
            </p>
          </div>
          <div class="col-md-5">
            <img
              src="../../../../assets/img/reinvent/manufacturing-tab.jpg"
              class="wherehouse-tab-img"
            />
          </div>
        </div>
      </div>

      <div
        class="tab-pane fade shadow rounded bg-white wharehouse-tab"
        id="v-pills-settings"
        role="tabpanel"
        aria-labelledby="v-pills-settings-tab"
      >
        <h4 class="mb-4">Consultancy & Design</h4>

        <div class="row">
          <div class="col-md-7">
            <p class="text-muted mb-2">
              Consult and design intelligent warehouses for distribution centres
              and transportation systems for manufacturers
            </p>
            <p class="text-muted mb-2">
              Drawing on the team's extensive knowledge of diverse domains of
              material handling, warehouses, distribution centres and IT
              systems, we aim to align your business strategy with process
              improvement and the right technologies that draws upon principles
              of industrial, mechanical engineering and data science with the
              aim to provide insights to your business and operations.
            </p>
            <p class="text-muted mb-2">
              We draw data from IT/OT (operations technology) systems, manage
              them to derive insights to drive your business decisions that
              enables your transformation.
            </p>
          </div>
          <div class="col-md-5">
            <img
              src="../../../../assets/img/reinvent/consultency-img.jpg"
              class="wherehouse-tab-img"
            />
          </div>
        </div>
      </div>

      <!-- panel -->
    </div>
  </div>
</section>

<section class="wherehouse-management">
  <div class="container">
    <div class="Reinvent-vedio">
      <div class="youtube_invent">
        <iframe
          src="https://www.youtube.com/embed/g8W7jLqVcEk"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
      <div class="youtube_invent">
        <iframe
          src="https://www.youtube.com/embed/oZVocmVpXGU"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
      <div class="youtube_invent">
        <iframe
          src="https://www.youtube.com/embed/BXKZLLZu_NA"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
      <div class="youtube_invent">
        <iframe
          src="https://www.youtube.com/embed/DQoRdWi2-M8"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
      <div class="youtube_invent">
        <iframe
          src="https://www.youtube.com/embed/G7ZDdV9GBAg"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
      </div>
    </div>
  </div>
</section>
