<section class="solution">
  <div class="container">
    <h1 class="entry-title">Products</h1>
    <!-- <div class="breadcrumb">
      <ul class="tm_bread_crumb">
        <li class="level-1 top">
          <a routerLink="/home">Home <i class="fa-solid fa-arrow-right"></i></a>
        </li>
        <li class="level-1 current">Products</li>
      </ul>
    </div> -->
  </div>
</section>

<section class="our_solution">
  <div class="container">
    <div class="solution_headings">
      <h2 class="section-title">Products We Serve</h2>

      <p class="section-sub">
        Using Data Analytics, Warehouse Management Systems and Robotics Systems,
        we improve workflows, information dashboards and operational efficiency
        with solutions that are designed simply for all our clients.
      </p>
    </div>

    <!-- Tabs nav -->
    <div
      class="nav nav-pills nav-pills-custom"
      id="v-pills-tab"
      role="tablist"
      aria-orientation="vertical"
    >
      <a
        class="nav-link active"
        id="v-pills-home-tab"
        data-toggle="pill"
        href="#v-pills-home"
        role="tab"
        aria-controls="v-pills-home"
        aria-selected="true"
      >
        Mushiny</a
      >

      <a
        class="nav-link"
        id="v-pills-profile-tab"
        data-toggle="pill"
        href="#v-pills-profile"
        role="tab"
        aria-controls="v-pills-profile"
        aria-selected="false"
      >
        Data Analytics, Warehouse Management Systems and Dashboards</a
      >

      <a
        class="nav-link"
        id="v-pills-messages-tab"
        data-toggle="pill"
        href="#v-pills-messages"
        role="tab"
        aria-controls="v-pills-messages"
        aria-selected="false"
      >
        Automatic Storage and Retrieval System (ASRS)</a
      >

      <a
        class="nav-link"
        id="v-pills-settings-tab"
        data-toggle="pill"
        href="#v-pills-settings"
        role="tab"
        aria-controls="v-pills-settings"
        aria-selected="false"
      >
        Gravity Based Dynamic Storage</a
      >

      <a
        class="nav-link"
        id="v-pills-settings-tab"
        data-toggle="pill"
        href="#v-pills-Telescopic"
        role="tab"
        aria-controls="v-pills-settings"
        aria-selected="false"
      >
        Telescopic Conveyors</a
      >
      <a
        class="nav-link"
        id="v-pills-settings-tab2"
        data-toggle="pill"
        href="#v-pills-settings2"
        role="tab"
        aria-controls="v-pills-settings"
        aria-selected="false"
      >
        Mambaroll</a
      >
    </div>

    <!-- Tabs content -->
    <div class="tab-content" id="v-pills-tabContent">
      <div
        class="tab-pane fade shadow rounded bg-white show active"
        id="v-pills-home"
        role="tabpanel"
        aria-labelledby="v-pills-home-tab"
      >
        <h4 class="mb-4">Mushiny</h4>
        <p class="text-muted mb-2">
          With the growth of e-Commerce & distibution centres globally, the
          speed, accuracy and information on the progress of their delivery is
          essential Mushiny’s Warehouse Management System paired with their
          Autonomous Mobile Robots (AMR), allows for the automation of routine
          tasks such as receiving, picking, packing, shipping and reducing
          manual errors. This has revolutionized the conventional
          “person-to-goods” warehousing mode, enabled the “goods-to-person”
          intelligent operation. Thus, improving overall efficiency, decreasing
          the intensity of labor, reducing cost & errors, and achieving a higher
          order fulfilment rate, safely.
        </p>
        <div class="autonomus-content">
          <div class="autonomus-imge">
            <img
              src="../../../../assets/img/reinvent/digital-transformation2.jpg"
              alt="digital-transformation"
            />
            <h6>PODs-to-person solutions</h6>
            <p>
              Reduce Operator Working Distance Reduce Work Intensity And
              Increase Efficiency
            </p>
          </div>

          <div class="autonomus-imge">
            <img
              src="../../../../assets/img/reinvent/choose-us.jpg"
              alt="choose-us"
            />
            <h6>Mix Integrated solutions</h6>
            <p>Enhance Space Utilization Minimize AMR Investment</p>
          </div>

          <div class="autonomus-imge">
            <img
              src="../../../../assets/img/reinvent/totes.jpg"
              alt="choose-us"
            />
            <h6>Totes-to-person solutions</h6>
            <p>Reduce Work Intensity Improve Picking Efficiency</p>
          </div>

          <div class="autonomus-imge">
            <img
              src="../../../../assets/img/reinvent/sorting.jpg"
              alt="choose-us"
            />
            <h6>Intelligent Sorting solutions</h6>
            <p>Order/Parcel Sorting Flexible Adapt To Any Expaction</p>
          </div>

          <div class="autonomus-imge">
            <img
              src="../../../../assets/img/reinvent/wherehouse-reinvent.jpg"
              alt="choose-us"
            />
            <h6>Integrated Intelligent Warehousing</h6>
            <p>High-Level Pallet/Tote Storage Automatic Re-Bin Solutions</p>
          </div>
        </div>
      </div>

      <div
        class="tab-pane fade shadow rounded bg-white"
        id="v-pills-profile"
        role="tabpanel"
        aria-labelledby="v-pills-profile-tab"
      >
        <h4 class="mb-4">
          Data Analytics, Warehouse Management Systems and Dashboards
        </h4>
        <div class="row">
          <div class="col-md-7">
            <p class="text-muted mb-2">
              Data analytics employs advanced algorithms to analyze extensive
              data collected within the warehouse, providing valuable insights
              for inventory management, demand forecasting, and order
              fulfilment. Thus, allowing for informed decision-making.
            </p>
            <p class="text-muted mb-2">
              Whereby Warehouse Management Systems (WMS) acts as a central hub,
              integrating and coordinating various warehouse activities,
              automating processes, and enabling real-time inventory tracking,
              in order to optimizes workflows and enhance order accuracy.
            </p>
            <p class="text-muted mb-2">
              With Dashboards to visually present real-time visibility into
              inventory, order status, and productivity, it enables stakeholders
              to easily view the data and make data-driven decisions to enhance
              warehouse efficiency and competitiveness.
            </p>
          </div>
          <div class="col-md-5">
            <img
              src="../../../../assets/img/reinvent/system-dashboard.png"
              alt="system-dashboard"
              class="system-dashboard"
            />
          </div>
        </div>
      </div>

      <div
        class="tab-pane fade shadow rounded bg-white"
        id="v-pills-messages"
        role="tabpanel"
        aria-labelledby="v-pills-messages-tab"
      >
        <h4 class="mb-4">Automatic Storage and Retrieval System (ASRS)</h4>

        <div class="analytics">
          <div class="analytics-content">
            <p>
              Automatic Storage and Retrieval System (ASRS) technology increases
              warehousing efficiency through the use of automation and advanced
              technology. They automate tasks such as searching, picking, and
              put-away, saving time, increasing productivity and order
              fulfilment speed.
            </p>
            <p>
              ASRS optimizes space utilization by stacking goods vertically,
              maximizing storage capacity and ensures accurate inventory
              management through sensors and barcode scanners, reducing errors
              and enhancing stock visibility and retrieval of goods.
            </p>
            <p>
              Integration with Warehouse Management Systems (WMS) enables
              synchronized operations, efficient order management, and data
              exchange.
            </p>
            <p>
              Overall, ASRS significantly improves warehousing efficiency,
              enabling businesses to operate smoothly, reduce costs, and deliver
              faster and more accurate order fulfilment.
            </p>
          </div>
          <div class="anayltics-img">
            <img
              src="../../../../assets/img/reinvent/asrs.png"
              class="mamba-roll"
            />
          </div>
        </div>
      </div>

      <div
        class="tab-pane fade shadow rounded bg-white"
        id="v-pills-settings"
        role="tabpanel"
        aria-labelledby="v-pills-settings-tab"
      >
        <h4 class="mb-4">Gravity Based Dynamic Storage</h4>

        <p class="text-muted mb-2">
          Harnessing the power of gravity with custom pallet flow & carton flow
          Solutions, Reinvent Intralogistics Solutions and Innovation are able
          to be tailored to your inventory specs and application. Therefore,
          allowing for increased storage capacity, a greater picking efficiency
          and dispatch lanes.
        </p>

        <div class="gravity-contcts">
          <div class="gravity-imgs">
            <img
              src="../../../../assets/img/reinvent/dispatch-lanes.png"
              alt="dispatch-lanes"
            />
            <p>Dispatch Lanes with Sorting Transfer Vehicles</p>
          </div>
          <div class="gravity-imgs">
            <img
              src="../../../../assets/img/reinvent/pallet-flow.jpg"
              alt="pallet-flow"
            />
            <p>Pallet Flow & <br />Carton Flow</p>
          </div>
          <div class="gravity-imgs">
            <img
              src="../../../../assets/img/reinvent/integrators.png"
              alt="integrators"
            />
            <p>
              Integration with automated solutions, including AGV and AMR
              applications
            </p>
          </div>
        </div>
      </div>

      <div
        class="tab-pane fade shadow"
        id="v-pills-Telescopic"
        role="tabpanel"
        aria-labelledby="v-pills-settings-tab"
      >
        <h4 class="mb-4">Telescopic Conveyors</h4>

        <div class="analytics">
          <div class="analytics-content">
            <p>
              Telescopic conveyors facilitate the movement of goods within the
              warehouse, whereby reaching various areas of the warehouse floor
              or loading/unloading docks. The telescopic feature enables them to
              adapt to different sizes of vehicles or containers, eliminating
              the need for manual handling or multiple conveyors.
            </p>
            <p>
              Telescopic conveyors are highly flexible and adjustable, enabling
              them to accommodate different workflows and space constraints
              within the warehouse to can efficiently load or unload items from
              trucks, trailers, or containers, reducing the time and effort
              required for manual labor. Thus, optimizing material flow,
              improving efficiency, and streamlining the loading and unloading
              processes.
            </p>
          </div>
          <div class="anayltics-img">
            <img
              src="../../../../assets/img/reinvent/Telescopic1.jpg"
              class="talecope"
            />
          </div>
        </div>
      </div>
      <div
        class="tab-pane fade shadow"
        id="v-pills-settings2"
        role="tabpanel"
        aria-labelledby="v-pills-settings-tab2"
      >
        <h4 class="mb-4">Mambaroll</h4>

        <div class="analytics">
          <div class="analytics-content">
            <p>
              Mambaroll develops and manufactures core components of
              intralogistics equipment, providing modular roller conveyors and
              belt conveyors to realise various functions such as straight-line
              conveying, curve conveying, side-guider, diverter, merge and etc.
              Whereby the direct current drive rollers and direct drive rollers
              enable flexible solutions to your needs.
            </p>
          </div>
          <div class="anayltics-img">
            <img
              src="../../../../assets/img/reinvent/Mambaroll.png"
              class="mamba-roll"
            />
          </div>
        </div>
      </div>

      <!-- panel -->
    </div>
  </div>
</section>
