:root{
    --white: #fff;
    --black: #000;
    --color-primary: #248CCB;
    --color-secondary: #C06014;
    --color-destructive: #d53e3e;
    

    --light-yellow: #fff7dd;
    --red:#ed2024;
    --yellow:#f79647;
    --blue:#1e497d;


    --color-secondary-new:#C06014;
    --orange-light:#EDDBCD;
    --gray-light:#CDCDCD;
}
